<div class="main-body">
  <div class="container">
    <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin form-horizontal" [formGroup]="form">

        <span id="reauth-email" class="reauth-email"></span>
        <div class="form-group" [ngClass]="displayFieldCss('Username')">
          <div class="col-sm-12">
            <label for="Username" class="control-label required">Username</label>
            <input type="text" id="Username" class="form-control" formControlName="Username" placeholder="Username" autofocus/>
            <app-field-error-display [displayError]="isFieldValid('Username')"
                                     errorMsg="Required">
            </app-field-error-display>
          </div>
        </div>
        <div class="col-sm-12">
          <label for="Password" class="control-label required">Password</label>
          <input type="password" id="Password" class="form-control" formControlName="Password" placeholder="Password"/>
          <app-field-error-display [displayError]="isFieldValid('Password')"
                                   errorMsg="Required">
          </app-field-error-display>
          <span id="spnWrongCred" style="color:red;"></span>
        </div>

        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="onLogin()">Login</button>
        </form>
    </div>
    <!--<div id="remember" class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>-->
    <!--<a href="#" class="forgot-password">
      Forgot the password?
    </a>-->
  </div>
  </div>
